<!DOCTYPE html>
<html>
<head>
    <title>demo11_233 Shader Pass Advanced</title>
    <meta charset="utf-8">
    <script src="https://www.hotpoor.com/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/libs/three.js"></script>
    <script src="/static/js/libs/stats.js"></script>
    <script src="/static/js/libs/dat.gui.js"></script>
    <script src="/static/js/libs/chroma.js"></script>
    <script src="/static/js/libs/postprocessing/EffectComposer.js"></script>
    <script src="/static/js/libs/postprocessing/ShaderPass.js"></script>
    <script src="/static/js/libs/postprocessing/RenderPass.js"></script>
    <script src="/static/js/libs/postprocessing/MaskPass.js"></script>
    <script src="/static/js/libs/shaders/CopyShader.js"></script>
    <script src="/static/js/libs/shaders/BleachBypassShader.js"></script>
    <script src="/static/js/libs/shaders/EdgeShader.js"></script>
    <script src="/static/js/libs/shaders/FXAAShader.js"></script>
    <script src="/static/js/libs/shaders/FocusShader.js"></script>
    <style>
        body{
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="Stats-output"></div>
    <div id="WebGL-output"></div>
    <script src="/static/js/demo_11_233.js?t={{ handler.js_time }}"></script>
</body>
</html>