<!DOCTYPE html>
<html>
<head>
    <title>demo_03_31 hemisphere</title>
    <meta charset="utf-8">
    <script src="/static/js/libs/jquery-1.12.4.min.js"></script>
    <script src="/static/js/libs/three.js"></script>
    <script src="/static/js/libs/stats.js"></script>
    <script src="/static/js/libs/dat.gui.js"></script>
    <script src="/static/js/libs/WebGLDeferredRenderer.js"></script>
    <script src="/static/js/libs/ShaderDeferred.js"></script>
    <script src="/static/js/libs/RenderPass.js"></script>
    <script src="/static/js/libs/EffectComposer.js"></script>
    <script src="/static/js/libs/CopyShader.js"></script>
    <script src="/static/js/libs/ShaderPass.js"></script>
    <script src="/static/js/libs/FXAAShader.js"></script>
    <script src="/static/js/libs/MaskPass.js"></script>
    <style>
        body{
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="Stats-output"></div>
    <div id="WebGL-output"></div>
    <script src="/static/js/demo_03_31.js"></script>
</body>
</html>