<!DOCTYPE html>
<html>
<head>
    <title>demo_10.232 Canvas texture bumpmap</title>
    <meta charset="utf-8">
    <link href="/static/js/libs/literally/css/literally.css" rel="stylesheet">
    <script src="https://www.hotpoor.com/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/libs/three.js"></script>
    <script src="/static/js/libs/stats.js"></script>
    <script src="/static/js/libs/dat.gui.js"></script>
    <script src="/static/js/libs/perlin.js"></script>
    <style>
         body {
            /* set margin to 0 and overflow to hidden, to go fullscreen */
            margin: 0;
            overflow: hidden;
        }

    </style>
</head>
<body>
    <div id="Stats-output"></div>
    <div id="canvas-output" style="float:left"></div>

    <div id="WebGL-output"></div>
    <script src="/static/js/demo_10_232.js"></script>
</body>
</html>