<!DOCTYPE html>
<html>
<head>
    <title>demo12_31 Physijs shapes</title>
    <meta charset="utf-8">
    <script src="https://www.hotpoor.com/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/libs/three.js"></script>
    <script src="/static/js/libs/stats.js"></script>
    <script src="/static/js/libs/physi.js"></script>
    <script src="/static/js/libs/chroma.js"></script>
    <script src="/static/js/libs/dat.gui.js"></script>
    <script src="/static/js/libs/perlin.js"></script>
    <style>
        body{
            margin: 0;
            overflow: hidden;
            background-color: #000000;
        }
    </style>
</head>
<body>
    <script src="/static/js/demo_12_31.js?t={{ handler.js_time }}"></script>
    
    <div id="viewport"></div>
    
</body>
</html>