<!DOCTYPE html>
<html>
<head>
    <title>demo11_11 Effect composings</title>
    <meta charset="utf-8">
    <script src="https://www.hotpoor.com/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/libs/three.js"></script>
    <script src="/static/js/libs/stats.js"></script>
    <script src="/static/js/libs/dat.gui.js"></script>
    <script src="/static/js/libs/OrbitControls.js"></script>
    <script src="/static/js/libs/postprocessing/ShaderPass.js"></script>
    <script src="/static/js/libs/shaders/CopyShader.js"></script>
    <script src="/static/js/libs/postprocessing/EffectComposer.js"></script>
    <script src="/static/js/libs/postprocessing/MaskPass.js"></script>
    <script src="/static/js/libs/postprocessing/FilmPass.js"></script>
    <script src="/static/js/libs/shaders/FilmShader.js"></script>
    <script src="/static/js/libs/postprocessing/RenderPass.js"></script>
    <style>
        body{
            margin: 0;
            overflow: hidden;
            background-color: #000000;
        }
    </style>
</head>
<body>
    <div id="Stats-output"></div>
    <div id="WebGL-output"></div>
    <script src="/static/js/demo_11_11.js?t={{ handler.js_time }}"></script>
</body>
</html>