<!DOCTYPE html>
<html>
<head>
    <title>demo_9.25 - Orbit controls</title>
    <meta charset="utf-8">
    <script src="https://www.hotpoor.com/static/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="/static/js/three.js"></script>

    <script type="text/javascript" src="/static/js/stats.js"></script>
    <script type="text/javascript" src="/static/js/dat.gui.js"></script>
    <script type="text/javascript" src="/static/js/OrbitControls.js"></script>
    <style>
        body {
            /* set margin to 0 and overflow to hidden, to go fullscreen */
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="Stats-output"></div>
    <div id="WebGL-output"></div>
    <script src="/static/js/demo_9.25.js"></script>
</body>
</html>