<!DOCTYPE html>
<html>
<head>
    <title>demo11_231 Shader Pass simple</title>
    <meta charset="utf-8">
    <script src="https://www.hotpoor.com/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/libs/three.js"></script>
    <script src="/static/js/libs/stats.js"></script>
    <script src="/static/js/libs/dat.gui.js"></script>
    <script src="/static/js/libs/OBJLoader.js"></script>
    <script src="/static/js/libs/MTLLoader.js"></script>
    <script src="/static/js/libs/OBJMTLLoader.js"></script>

    <script src="/static/js/libs/postprocessing/EffectComposer.js"></script>
    <script src="/static/js/libs/postprocessing/ShaderPass.js"></script>
    <script src="/static/js/libs/postprocessing/RenderPass.js"></script>
    <script src="/static/js/libs/postprocessing/MaskPass.js"></script>
    <script src="/static/js/libs/shaders/CopyShader.js"></script>
    <script src="/static/js/libs/shaders/BrightnessContrastShader.js"></script>
    <script src="/static/js/libs/shaders/ColorifyShader.js"></script>
    <script src="/static/js/libs/shaders/SepiaShader.js"></script>
    <script src="/static/js/libs/shaders/RGBShiftShader.js"></script>
    <script src="/static/js/libs/shaders/ColorCorrectionShader.js"></script>
    <script src="/static/js/libs/shaders/MirrorShader.js"></script>
    <script src="/static/js/libs/shaders/VignetteShader.js"></script>
    <script src="/static/js/libs/shaders/HueSaturationShader.js"></script>
    <script src="/static/js/libs/shaders/BlendShader.js"></script>
    <script src="/static/js/libs/shaders/KaleidoShader.js"></script>
    <script src="/static/js/libs/shaders/LuminosityShader.js"></script>
    <script src="/static/js/libs/shaders/TechnicolorShader.js"></script>
    <script src="/static/js/libs/shaders/UnpackDepthRGBAShader.js"></script>
    <style>
        body{
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="Stats-output"></div>
    <div id="WebGL-output"></div>
    <script src="/static/js/demo_11_231.js?t={{ handler.js_time }}"></script>
</body>
</html>