<!DOCTYPE html>
<html>
<head>
    <title>demo_10.11  Basic textures</title>
    <meta charset="utf-8">
    <script src="https://www.hotpoor.com/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/libs/three.js"></script>
    <script src="/static/js/libs/stats.js"></script>
    <script src="/static/js/libs/dat.gui.js"></script>
    <script src="/static/js/libs/DDSLoader.js"></script>
    <style>
        body{
            margin: 0;
            overflow: hidden;
        }
    </style>
</head>
<body>
    <div id="Stats-output"></div>
    <div id="WebGL-output"></div>
    <script src="/static/js/demo_10.11.js"></script>
</body>
</html>